
<div class="Chenar" >
    <h1 class="title title2 " > Welcome! </h1>
    <br>
    <br>
    <br>
    <br>
          <div class=" chenarButoane" style="text-align: center">
            <button class="butonStyle" routerLink="/addDiscipline" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer;">
               Propose optional course
            </button>
           
    
            <button class="butonStyle" routerLink="/addGrade" style="text-align: center" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer;">
              Add grade for student
             </button>
        
          </div>
    
        <br>

