.chenarButoane{
  
    text-align:center;
padding-bottom: 50%;
    
}

.butonStyle{
    text-transform: uppercase;
 transition: 0.5s;
 background-size: 200% auto;
 color:white;          
 /* padding-left:0;
 display: block;
; */
/* background-color:  #35a5cd;*/
border:0px;
background-color: #268aef;
text-align:center;
width: 70%;
cursor: pointer;

}
.title2{
    margin: 0px;
    margin-left: 5%;
    margin-top: 2%;
}