



<div class="Chenar" >
    <h1 class="title title2 "> Welcome! </h1>
    <br>
    <br>
    <br>
    <br>

          <div class=" chenarButoane" >
            <button class="butonStyle" routerLink="/printListStudents" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer;">
               Print the list of students by professional results
            </button>
           
    
            <button class="butonStyle" routerLink="/viewResultsStudents" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer;">
               View  results of the students
             </button>
        
          </div>
    
        <br>


