



<div class="Chenar" >
    <h1 class="title title2 "> Welcome! </h1>
 
    <div style="text-align: center; margin-left: 80px;">
    <img src="/assets/contract3.png"  style="width: 70%; height: 100%; padding-bottom: 20px; ">
    </div>

    <div style="float: right; margin-right: 10%;">
        <input class="checkBoxInput" style="width: 20px; height: 20px;" type="checkbox" id="rememberMe" name="rememberMe" value="rememberYes">
        <label for="rememberMe" style="font-size: 20px;"> Sign Contract</label><br>
    </div>
    
        <br>
</div>


