


<br>
<div class="Chenar" >
  <br>
    <h1 class="title title2 "  > Welcome! </h1>
    <br>
   
          <div class=" chenarButoane" style="text-align: center">
            <button class="butonStyle"  style=" text-align: center; font-size: 15px;" routerLink="/addDiscipline">
               Propose optional course
            </button>
           
    
            <button class="butonStyle"  style=" text-align: center; font-size: 15px;" routerLink="/addGrade" >
              Add grade for student
             </button>

             <button class="butonStyle" style=" text-align: center;font-size: 15px;" routerLink="/viewAndAprove" >
                View and approve the list of optional courses
               </button>
               <button class="butonStyle" style=" text-align: center;font-size: 15px;" routerLink="/seeStatistics">
                View results
               </button>
               <button class="butonStyle" style=" text-align: center;font-size: 15px;" routerLink="/viewDisciplineGivenByTeacher">
                View the discipline given by teacher
               </button>
        
          </div>
    
        <br>

