
<div class="LoginComponent">

<router-outlet> 
<div class="Bara" style=" text-align: right;">
    <div class="navBarLogo" style=" text-align: left; margin-left: 35px; padding-top: 8px; width: 40%; float: left;">
        <img src="/assets/Asset1.png"  class="navBarPic" style="width: 240px; height: 50px; padding-bottom: 20px; ">
    </div>

    <div>
        <div style=" text-align: right;  padding-top: 15px;float: right;">
            <button style="background-color:#268aef ; border: 0; margin: 0; cursor: pointer; padding-right: 60px;" routerLink="/login"> <fa-icon [icon]="logOut" style="font-size: 30px; color: white;"></fa-icon>
            </button>
            </div>
        <div style=" text-align: right;  padding-top: 15px;  float: right;">
            <button style="background-color:#268aef ; border: 0; margin: 0; cursor: pointer; padding-left: 60px;" routerLink="/updateProfile"> <fa-icon [icon]="edit" style="font-size: 30px; color: white;"></fa-icon>
            </button>
        </div>
       
    </div>
</div>
</router-outlet>
</div>