<div class="Bara">
    <i class="fa-solid fa-screen-users"></i>
</div>
<div class="mainPage">





<div class="Chenar" >
    <h1 class="title title2 "> Welcome! </h1>
    <br>
          <div class=" chenarButoane" >
            <button class="butonStyle" routerLink="/viewGradesPage">
               Year of study 1
            </button>
           
    
            <button class="butonStyle" routerLink="/viewGradesPage">
              Year of study 2
             </button>
        
          </div>
    
        <br>


