
<div class="ChenarSignUp"  >
    <br>
    <br>
    <br>
    <h4 class=" title2 " style="position: sticky; top:0; text-align: center; background-color: white;  font-family: 'Fira Sans', sans-serif; font-size: 24px;"><b> View, approve optional disciplines and assign number of students  </b></h4>

    <br>
    <div>
        <div style="position: relative; margin-left: 30px;
        margin-right: 25px;">
        <br>
            <div style="max-height: 240px; overflow: auto;">
                <table>
                    <tr style="position: sticky; top:0; background-color: white;  font-family: 'Fira Sans', sans-serif; font-size: 16px;">
                        <th style="padding-right: 25px;">Name</th>
                        <th style="padding-right: 25px;">Approve</th>
                        <th style="padding-right: 25px;">Disapprove</th>
                        <th> Number </th>
                        <th> Set </th>
                        
                    </tr>

                    <tbody id="addGradeSt">

                        <tr *ngFor="let discipline of listWithDiscipline" >
                            <td> {{discipline.discipline.name}}</td>
                         
                            <td>  <button type="submit"  class="btn-grad" (click)="setApprove(discipline.discipline.id)"  id="bind" [disabled]="discipline.aproveButton" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer; width: 50px; margin-left: 5px;"> X </button></td>
                            <td>  <button type="submit"  (click)="setDisapprove(discipline.discipline.id)" class="btn-grad" id="unbind" [disabled]="discipline.disapproveButton" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer; width: 50px; margin-left: 15px;"> X</button></td> 
                            <td> <input type="number"  #noStudents placeholder="value" style="width: 50px; " [disabled]="discipline.approved?null:true"> </td>
                            <td>
                                <div >
                                    <!-- TODO: BUTONUL SA NU MAI FIE ENABLED -->
                                <button type="submit"  class="btn-grad" (click)="setNoStudents(discipline.discipline.id,+noStudents.value)" [disabled]="discipline.submitButton"id="submitButton" [disabled]="submitButtonDisabled" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer; width: 80px; margin-left: 20px;"> Set </button>
                                </div>
                            </td>
                        </tr>
                       
                    </tbody>

                </table>
                 

                <br>
                <br>
               
                
            </div>
            <br>
            <br>
            <div >
                <!-- TODO: BUTONUL SA NU MAI FIE ENABLED -->
            <button type="submit"  class="btn-grad" (click)="myFunction()"id="submitButton" [disabled]="submitButtonDisabled" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer; width: 80px; margin-left: 200px;"> Submit </button>
            </div>
           
            </div>
            
        </div>
        
     

       

        



</div>
    
