/* You can add global styles to this file, and also import other style files */
body{
    background: #f9f9f9;
    padding-left:0;
    margin-left: 0;
    font-family: 'Fira Sans', sans-serif;
  /* font-family: Myriad W08 Regular,Segoe UI,Arial,PingFang TC,Microsoft JhengHei,sans-serif;
   font-family: "Acer Foco", "Trebuchet MS", Arial, sans-serif;*/
   /*background: #268aef;*/
  
   
}
.Chenar{
  width: 35vw;
  height: 57vh;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 8vh;
  margin-bottom: 8vh;
  align-items: center;
 
  padding: 0.5vw;
 padding-top: 1.5vh;
 padding-bottom: 3.5vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: black;
 
}

.Bara{
  width: 100vw;
  height: 10vh;
  background: #268aef;
}
.title{
  color:black;
  font-size: 45px;
}


button{
  height: 45px;
  width: 140px;;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

}


/*.btn-grad {background-image: linear-gradient(to right, rgb(55,90,247) 0%, white  51%, rgb(55,90,247)  100%)} */
.btn-grad {

 
 text-align: center;
 text-transform: uppercase;
 transition: 0.5s;
 background-size: 200% auto;
 color:white;          
 padding-left:0;
 display: block;
 border:0px;
/* background-color:  #35a5cd;*/
background-color: #268aef;
}

.btn-grad:hover {
 background-position: right center; /* change the direction of the change here */
 color:#005CCD ;
 text-decoration: none;
}



.parinteleButonului{
  align-items: center;
  display: flex;
  justify-content: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; }

