



<div class="Chenar" >
    <h1 class="title title2 "> Welcome! </h1>
    <br>
          <div class=" chenarButoane" >
            <button class="butonStyle" routerLink="/enrolPage" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer;">
               Enrol
            </button>
           
    
            <button class="butonStyle" routerLink="/viewCurriculumPage" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer;">
               View  curriculum
             </button>
        

             
        

              <button class="butonStyle" routerLink="/signContractPage" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer;">
                Sign the contract of study
              </button>
              <br>

              <button class="butonStyle" routerLink="/viewGradesPage" style="font-family: 'Roboto Slab', serif; text-align: center; font-size: 15px; cursor: pointer;">
                View Grades
              </button>
          </div>
    
        <br>

